<h2>{{::mode}} Listing</h2>
 
<table class="table" ng-if="items.length>0">
  <tr>
    <th class="capitalizeall" ng-repeat="label in imptlabels track by label.code">{{::label.name}}</th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="item in items track by item._id">
    <td ng-repeat="label in imptlabels track by label.code">
      <a ng-if="label.code == 'product'" ui-sref="detailsProduct({id:item[label.code]})"> {{::item[label.code]}}</a>
      <span ng-if="label.code != 'product'">{{::item[label.code]}}</span>
    </td>
    <td>
    <a ng-if="mode == 'Product'" ui-sref="detailsProduct({id:item._id})">Details</a> 
    <a ng-if="mode == 'Order'" ui-sref="detailsOrder({id:item._id})">Details</a> |
    <a ng-if="mode == 'Product'" ui-sref="editProduct({id:item._id})">Edit</a> 
    <a ng-if="mode == 'Order'" ui-sref="editOrder({id:item._id})">Edit</a> |
    <a ng-if="mode == 'Product'" href="#" ng-click="deleteProduct(item._id)">Delete</a>
    <a ng-if="mode == 'Order'" href="#" ng-click="deleteOrder(item._id)">Delete</a>
    </td>
  </tr>
</table>
<div ng-if="items.length==0">
 No records found!
</div>